.card-content {
  max-width: 300px;
  background: rgb(221, 221, 221);
  position: relative;
  margin: 1rem;
}

.close-card {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-card:hover {
  background: #fff;
  color: #333;
}

.animal-img {
  width: 100%;
}

.card-detail {
  text-align: center;
}

.animal-name {
  text-transform: capitalize;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: #898989;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  color: #fff;
}

.likes img {
  width: 1.5rem;
  margin-right: 0.5rem;
  filter: invert(1);
}

.add-like {
  background-color: #008080;
  border: none;
  border-right: 1px solid #fff;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
}

.remove-like {
  background-color: #e03a0c;
  border: none;
  border-left: 1px solid #fff;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-like:hover,
.remove-like:hover {
  filter: opacity(0.8);
}
